$white: #ffffff;
$whitesmoke: #c5c5c5;
$dark-shadow: #00000033;
$slategrey: #708090;
$orange: #ffa600;
$bg_color: #1741b4;
$blue: #193dbb;
$dodgerblue: #1e90ff;
$lightgrey_16: #161616;
$lightgrey_20: #202020;
$lightgrey_24: #242424;
$lightgrey_44: #444444;
$lightgrey_60: #606060;
$custom_purple: #0032c8;
$cyan: #00ffff;
$yellow: #ffff00;
