@import 'fonts.scss';
@import 'colors.scss';

@mixin topbottom-article($opacity, $valueY){
  opacity: $opacity;
  transform: translateY($valueY);
}

@mixin side-article($opacity, $valueX){
  opacity: $opacity;
  transform: translateX($valueX);
}

@keyframes article-1 {
  0% {
    @include topbottom-article(0, -200px);
  }
  100% {
    @include topbottom-article(1, 0px);
  }
}

@keyframes article-2 {
  0% {
    @include topbottom-article(0, -200px);
  }
  100% {
    @include topbottom-article(1, 0px);
  }
}

@keyframes article-3 {
  0% {
    @include side-article(0, -200px);
  }
  100% {
    @include side-article(1, 0px);
  }
}

@keyframes article-4 {
  0% {
    @include side-article(0, 200px);
  }
  100% {
    @include side-article(1, 0px);
  }
}

@keyframes article-5 {
  0% {
    @include topbottom-article(0, 200px);
  }
  100% {
    @include topbottom-article(1, 0px);
  }
}

@keyframes article-6 {
  0% {
    @include topbottom-article(0, 200px);
  }
  100% {
    @include topbottom-article(1, 0px);
  }
}

@mixin width-margin($width){
  width: $width;
  margin: auto;
}

@mixin margin-topbottom($top){
  margin-top: $top;
  margin-bottom: 40px;
}

@mixin top-right(){
  top: 0px;
  right: 0px;
}

@mixin article($width){
  width: $width;
  height: auto;
  padding: 10px 40px;
  text-align: justify;
  text-justify: inter-word;
  opacity: 1;
  background: rgba(255,255,255, 0.1);
  border-radius: 5px;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2),
    0px 6px 20px 0px rgba(0, 0, 0, 0.19);
  transition: linear 0.35s;
  color: #2e73af;
  .h2 {
    font-size: 2.0rem;
    color: #4283bd;
  }
  .p {
    font-family: $notonewa_font;
    font-size: 1.0rem;
    color: rgba(255,255,255, 0.2);
  }
  &:hover {
    transform: scale(1.05);
    background: rgba(255,255,255, 0.15);
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2),
      0px 0px 0px 0px rgba(0, 0, 0, 0.19);
    .h2 {
      color: rgba(255,255,255, 0.3);
    }
    .p {
      color: rgba(255,255,255, 0.3);
    }
  }
}

@mixin link-style($deg){
  position: relative;
  text-decoration: none;
  font-family: $abhaya_font;
  font-size: 2.2rem;
  font-weight: bold;
  color: $lightgrey_24;
  text-shadow: 0px 0px 3px $cyan;
  transform: rotateZ($deg);
  z-index: 2;
  &:hover {
    color: $yellow;
    text-shadow: 0px 0px 0px $cyan;
  }
  &:active {
    color: $cyan;
  }
}

@mixin animation($name){
  animation-name: $name;
  animation-delay: 0s;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}

.about {
  position: absolute;
  @include top-right();
  left: 0px;
  min-height: 100vh;
  .mainclassvideo {
    position: fixed;
    @include top-right();
    bottom: 0px;
    left: 0px;
    background: $custom_purple;
    z-index: -1;
    .divvideointro {
      filter: opacity(20%);
      opacity: 1;
      object-fit: cover;
    }
  }
  .aboutmaintitle {
    @include margin-topbottom(20px);
    padding-left: 20px;
    font-family: $abhaya_font;
    font-size: 3.2rem;
    color: $whitesmoke;
    text-shadow:
      0px 0px 1px $lightgrey_24,
      0px 0px 2px rgba(180,180,180, 1);
  }
  .articlecontainer {
    @include width-margin(90%);
    @include margin-topbottom(40px);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    .article {
      @include article(35%);
      transform: translateY(0px);
      @include animation(article-1);
    }
    .article2 {
      @include article(45%);
      transform: translateY(0px);
      @include animation(article-2);
    }
    .article3 {
      @include article(45%);
      transform: translateX(0px);
      @include animation(article-3);
    }
    .article4 {
      @include article(35%);
      height: 160px;
      transform: translateX(0px);
      @include animation(article-4);
      .imgabout {
        position: absolute;
        bottom: 0px;
        margin-left: -40px;
        display: flex;
        justify-content: center;
        opacity: 0.1;
        transition: linear 0.75s;
        z-index: 1;

        boder: 1px solid white;
        .img {
          width: 40%;
          height: 30%;
          object-fit: cover;
        }
      }
      .lilink {
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        .li {
          margin-top: -40px;
          width: 100%;
          display: flex;
          justify-content: center;
          .linksoft {
            @include link-style(-45deg);
          }
          .linkhard {
            @include link-style(45deg);
          }
        }
      }
    }
    .article5 {
      @include article(35%);
      transform: translateY(0px);
      @include animation(article-5);
    }
    .article6 {
      @include article(45%);
      transform: translateY(0px);
      @include animation(article-6);
    }
  }
  .hr {
    @include width-margin(80%);
    margin-top: 40px;
    border-radius: 50% 50%;
    border-top: 1px solid rgba(0, 200, 200, 0.5);
    border-bottom: 1px solid rgba(0, 200, 200, 0.5);
  }
  .fieldcontainer {
    @include width-margin(600px);
    @include margin-topbottom(40px);
    display: flex;
    justify-content: center;
    background: rgba(255,255,255, 0.1);
    border-radius: 5px 0px 0px 5px;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2),
      0px 6px 20px 0px rgba(0, 0, 0, 0.19);
    transform: scale(1.0);
    transition: linear 0.75s;
    &:hover {
      transform: scale(1.05);
      color: rgba(255,255,255, 0.8);
      background: rgba(255,255,255, 0.15);
      box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2),
        0px 0px 0px 0px rgba(0, 0, 0, 0.19);
    }
    .bgfieldset{
      width: 100%;
      padding: 30px 40px;
      display: flex;
      .field {
        display: flex;
        padding: 20px 20px;
        color: #2e73af;
        border: 1px solid rgba(255, 255, 255, 0.2);
        .legend {
          font-size: 1.8rem;
          font-weight: bold;
          color: rgba(255,255,255, 0.2);
        }
        .label {
          display: flex;
          text-align: justify;
          text-justify: inter-word;
          font-family: $notonewa_font;
          font-size: 1.0rem;
          color: rgba(255,255,255, 0.2);
        }
      }
    }
    .imgself {
      position: relative;
      @include top-right();
      display: flex;
      align-items: center;
      justify-content: center;
      opacity: 0.25;
      transition: linear 0.75s;
      .img2 {
        width: 150px;
        height: 260px;
        object-fit: cover;
      }
    }
    &:hover {
      .field {
        border: 1px solid rgba(255, 255, 255, 0.3);
        .legend {
          color: rgba(255,255,255, 0.3);
        }
        .label {
          color: rgba(255,255,255, 0.3);
        }
      }
      .imgself {
        opacity: 1;
        .img2 {
          width: 150px;
          height: 260px;
          object-fit: cover;
        }
      }
    }
  }
}

