@import 'fonts.scss';
@import 'colors.scss';

.divbtn {
  position: fixed;
  top: 0px;
  right: 0px;
  background: $bg_color;
  border-radius: 0px 0px 0px 7px;
  z-index: 3;
  .btntopright {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 130px;
    height: 40px;

    font-family: $akayakanadaka_font;
    font-size: 1.1rem;
    background: transparent;
    border: none;
    outline: none;
    border-radius: 0px 0px 0px 4px;
    box-shadow: 0px 0px 7px $cyan;
    color: rgba(0,255,255, 0.8);
    &:hover {
      box-shadow: 0px 0px 10px $cyan;
      color: rgba(0,255,255, 1);
    }
    &:active {
      box-shadow: 0px 0px 4px $cyan;
      color: $dodgerblue;
    }
  }
}