@import 'fonts.scss';
@import 'colors.scss';

@mixin topbottom-article($opacity, $valueY){
  opacity: $opacity;
  transform: translateY($valueY);
}

@mixin side-article($opacity, $valueX){
  opacity: $opacity;
  transform: translateX($valueX);
}

@keyframes article-1 {
  0% {
    @include topbottom-article(0, -200px);
  }
  100% {
    @include topbottom-article(1, 0px);
  }
}

@keyframes article-2 {
  0% {
    @include topbottom-article(0, -200px);
  }
  100% {
    @include topbottom-article(1, 0px);
  }
}

@keyframes article-3 {
  0% {
    @include side-article(0, -200px);
  }
  100% {
    @include side-article(1, 0px);
  }
}

@keyframes article-4 {
  0% {
    @include side-article(0, 200px);
  }
  100% {
    @include side-article(1, 0px);
  }
}

@keyframes article-5 {
  0% {
    @include topbottom-article(0, 200px);
  }
  100% {
    @include topbottom-article(1, 0px);
  }
}

@keyframes article-6 {
  0% {
    @include topbottom-article(0, 200px);
  }
  100% {
    @include topbottom-article(1, 0px);
  }
}

@mixin article($width){
  width: $width;
  height: auto;
  padding: 10px 40px;
  text-align: justify;
  text-justify: inter-word;
  font-family: $abhaya_font;
  font-size: 1.2rem;
  color: #0b7deb;
  opacity: 1;
  background: linear-gradient(30deg, 
    rgba(0, 50, 100, 0.1), rgba(42, 42, 42, 1),
    rgba(42, 42, 42, 1), rgba(42, 42, 42, 1),
    rgba(42, 42, 42, 1), rgba(0, 50, 100, 0.1));

  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2),
    0px 6px 20px 0px rgba(0, 0, 0, 0.19);
}

@mixin animation($name){
  animation-name: $name;
  animation-delay: 0s;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  .h2 {
    color: $slategrey;
  }
  .p {
    font-family: $abhaya_font;
    font-size: 1.4rem;
  }
}

.evolution {
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  min-height: 100vh;
  .mainclassvideo {
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background: $bg_color;
    z-index: -1;
    .divvideointro {
      filter: opacity(60%);
      opacity: 0.4;
      object-fit: cover;
    }
  }
  .evolutionmaintitle {
    margin-top: 20px;
    margin-bottom: 40px;
    padding-left: 20px;
    font-family: $abhaya_font;
    font-size: 3.2rem;
    color: $whitesmoke;
    text-shadow:
      0px 0px 1px $lightgrey_24,
      0px 0px 2px rgba(180,180,180, 1);
  }
  .articlecontainer {
    width: 90%;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    .article {
      @include article(35%);
      transform: translateY(0px);
      @include animation(article-1);
    }
    .article2 {
      @include article(45%);
      transform: translateY(0px);
      @include animation(article-2);
    }
    .article3 {
      @include article(45%);
      transform: translateX(0px);
      @include animation(article-3);
    }
    .article4 {
      @include article(35%);
      display: flex;
      flex-direction: column;
      transform: translateX(0px);
      @include animation(article-4);
      
      .imgevolution {
        position: fixed;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        opacity: 0.1;
        z-index: -2;
        .img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .lilink {
        width: 100%;
        height: 120px;
        display: flex;
        align-items: center;
        .li {
          width: 100%;
          display: flex;
        }
        .link {
          margin-top: -40px;
          margin-left: 20px;
          text-decoration: none;
          font-family: $abhaya_font;
          font-size: 2.3rem;
          font-weight: bold;
          color: $cyan;
          transform: rotateZ(-30deg);
          &:hover {
            color: $slategrey;
          }
          &:active {
            color: $cyan;
          }
        }
      }
    }
    .article5 {
      @include article(35%);
      transform: translateY(0px);
      @include animation(article-5);
    }
    .article6 {
      @include article(45%);
      transform: translateY(0px);
      @include animation(article-6);
    }
  }
}