@import 'fonts.scss';
@import 'colors.scss';

.gallery {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  overflow: hidden;
  background-color: $bg_color;
  font-family: $akayakanadaka_font;
  color: rgba(0,255,255, 0.5);
  .divbtn {
    position: fixed;
    top: 0px;
    right: 0px;
    .btntopright {
      padding: 10px 20px;
      font-family: $akayakanadaka_font;
      font-size: 1.1rem;
      background: transparent;
      border: none;
      outline: none;
      border-radius: 0px 0px 0px 7px;
      box-shadow: 0px 0px 7px $cyan;
      color: rgba(0,255,255,0.8);
      &:hover {
        background: rgba(0,50,100,0.6);
        box-shadow: 0px 0px 0px $cyan;
        color: rgba(0,255,255, 0.8);
      }
      &:active {
        background: rgba(0,255,255, 0.2);
        box-shadow: 0px 0px 0px $cyan;
        color: $whitesmoke;
      }
    }
  }
  .gallerymainheader {
    margin-top: 20px;
    padding-left: 20px;
    font-family: $acme_font;
    font-size: 3.2rem;
    color: rgba(0,50,200,0.9);
    text-shadow: 1px 0px 1px $cyan,
    1px 0px 4px $cyan;
  }
  .thanks {
    position: absolute;
    width: 99vw;
    top: 43%;
    display: flex;
    justify-content: center;
    .h2thanks {
      font-family: $akayakanadaka_font;
      font-size: 3rem;
      text-shadow: 1px 0px 1px $blue,
      2px 1px 1px $whitesmoke;
    }
  }
  .framerimg {
    position: absolute;
    top: 25%;
    .divimglegendgallery {
      width: 100vw;
      display: flex;
      justify-content: center;
      .img2 {
        position: absolute;
        margin: auto;
        z-index: 2;
      }
      .img3 {
        position: absolute;
        margin: auto;
        z-index: 3;
      }
    }
  }
}