@import 'fonts.scss';
@import 'colors.scss';

@mixin imgsize($level){
  position: absolute;
  margin: auto;
  z-index: $level;
}

.gallery {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  overflow: hidden;
  background-color: $bg_color;
  color: rgba(0,255,255, 0.5);
  .divbtn {
    position: fixed;
    top: 0px;
    right: 0px;
    .btntopright {
      padding: 10px 20px;
      font-family: $akayakanadaka_font;
      font-size: 1.1rem;
      background: transparent;
      border: none;
      outline: none;
      border-radius: 0px 0px 0px 7px;
      box-shadow: 0px 0px 7px $cyan;
      color: rgba(0,255,255,0.8);
      &:hover {
        background: rgba(0,50,100,0.6);
        box-shadow: 0px 0px 0px $cyan;
        color: rgba(0,255,255, 0.8);
      }
      &:active {
        background: rgba(0,255,255, 0.2);
        box-shadow: 0px 0px 0px $cyan;
        color: $whitesmoke;
      }
    }
  }
  .gallerymainheader {
    margin-top: 20px;
    padding-left: 20px;
    font-family: $acme_font;
    font-size: 3.2rem;
    color: rgba(0,50,200,0.9);
    text-shadow: 1px 0px 1px $cyan,
    1px 0px 4px $cyan;
  }
  .framerimg {
    position: absolute;
    padding: 60px 0px;
    top: 10%;
    bottom: 10%;
    width: 100%;
    height: 400px;
    margin: auto;
    background: rgba(0, 100, 100, 0.4);
    box-shadow: 0px 0px 10px rgba(0,240,255, 0.6);
    .thanks {
      position: absolute;
      width: 100vw;
      top: 35%;
      text-align: center;
      z-index: 1;
      .h2thanks {
        font-family: $akayakanadaka_font;
        font-size: 3rem;
        color: $whitesmoke;
        text-shadow: 1px 0px 1px $blue,
        2px 1px 1px $whitesmoke;
        opacity: 0.7;
      }
    }
    .divimglegendgallery {
      position: absolute;
      width: 100vw;
      display: flex;
      justify-content: center;
      z-index: 2;
      .img {
        @include imgsize(3);
      }
      .img2 {
        @include imgsize(4);
      }
      .img3 {
        @include imgsize(5);
      }
      .img4 {
        @include imgsize(6);
      }
      .img5 {
        @include imgsize(7);
      }

      .img6 {
        @include imgsize(8);
      }
      .img7 {
        @include imgsize(9);
      }
      .img8 {
        @include imgsize(10);
      }
    }
    .divdragndrop {
      position: absolute;
      top: 85%;
      right: 20%;
      left: 20%;
      padding: 0px 20px;
      padding-bottom: 100px;
      margin: auto;
      z-index: 11;
      .doublearrow {
        position: relative;
        width: 205px;
        margin: -20px auto;
        text-align: left;
        font-size: 4.2rem;
        color: $whitesmoke;
        opacity: 0.6;
      }
      .dragndrop {
        position: relative;
        width: 400px;
        margin: auto;
        text-align: center;
        color: $whitesmoke;
        opacity: 0.6;
      }
    }
  }
}
