@import 'fonts.scss';
@import 'colors.scss';

:root {
  min-height: 100vh;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

li {
  margin-top: 5px;
  /*list-style: none;*/
}

p {
  font-family: $acme_font;
}