@import 'fonts.scss';
@import 'colors.scss';

/*@mixin anim-style(){

}*/

@keyframes hollyanimation {
  0% {
    opacity: 0;
    transform: translateY(600px);
    filter: blur(4px);
    border-radius: 15px;
    box-shadow: 0px 0px 0px rgba(0, 255, 255, 0);
    color: rgba(0, 255, 255, 0);
  }
  50% {
    opacity: 1;
    transform: translateY(0px);
    filter: blur(0px);
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0, 255, 255, 0.5);
    color: dodgerblue;
  }
  60% {
    opacity: 1;
    transform: translateY(0px);
    filter: blur(0px);
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0, 255, 255, 0.5);
    color: dodgerblue;
  }
  90% {
    opacity: 0;
    transform: translateY(-600px);
    filter: blur(4px);
    border-radius: 15px;
    box-shadow: 0px 0px 0px rgba(0, 255, 255, 0);
    color: rgba(0, 255, 255, 0);
  }
  100% {
    opacity: 0;
    transform: translateY(-600px);
    filter: blur(0px);
    border-radius: 15px;
    box-shadow: 0px 0px 0px rgba(0, 255, 255, 0);
    color: rgba(0, 255, 255, 0);
  }
}

@mixin animation($second){
  position: absolute;
  top: 45%;
  width: 360px;
  margin: auto;
  opacity: 0;
  animation-name: hollyanimation;
  animation-delay: $second;
  animation-duration: 5s;
  animation-iteration-count: 1;
  animation-timing-function: ease-out, linear;
}

@mixin toprightbottomleft(){
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

@mixin mardisplayjustify(){
  margin: 10px 20px;
  display: flex;
  justify-content: center;
}

.main {
  .maindivanimation {
    position: absolute;
    display: flex;
    justify-content: center;
    @include toprightbottomleft();
    font-family: $akayakanadaka_font;
    color: rgba(0,255,255, 0.5);
    overflow-y: hidden;
    .firstdivanimation {
      @include animation(1s);
      .subdivfirstanimation {
        @include mardisplayjustify();
      }
    }
    .seconddivanimation {
      @include animation(4s);
      .subdivsecondanimation {
        @include mardisplayjustify();
      }
    }
    .thirddivanimation {
      @include animation(7s);      
      .subdivthirdanimation {
        @include mardisplayjustify();
      }
    }
  }
  .divaudio {
    position: absolute;
    width: 99%;
    margin: auto;
    bottom: 0px;
    display: flex;
    .audio {
      height: 25px;
      margin: auto;
      &::-webkit-media-controls-enclosure {
        background-color: transparent;
        border-radius: 5px;
      }
      &::-webkit-media-controls-panel {
        background-color: transparent;
      }
    }
  }
  .mainclassvideo {
    position: fixed;
    @include toprightbottomleft();
    background: $custom_purple;
    opacity: 1;
    z-index: -1;
    .divvideointro {
      width: 100vw;
      height: 100vh;
      filter: opacity(22%);
      opacity: 0.8;
      object-fit: cover;
    }
  }
  .mainheader {
    position: absolute;
    bottom: -10px;
    font-family: $acme_font;
    color: $custom_purple;
    text-shadow: 0px 0px 2px $whitesmoke;
  }
  .lilink {
    margin-top: 30px;
    margin-left: 20px;
    width: 200px;
  }
  .secondlilink {
    position: absolute;
    width: 150px;
    top: 30px;
    right: 40px;
    font-size: 1.4rem; 
  }
  .list {
    list-style: none;
    .link {
      display: flex;
      align-items: center;
      content: "";
      text-decoration: none;
      font-family: $akayakanadaka_font;
      font-size: 20px;
      filter: blur(1.2px);
      color: $whitesmoke;
      transition: 1s;
      &:hover:after {
        filter: blur(0px);
        content: "👈";
        color: rgba(180,180,180, 1);
      }
      &:hover {
        content: "👈";
        filter: blur(0px);
        color: rgba(180,180,180, 1);
      }
    }
    .link2 {
      text-decoration: none;
      font-family: $akayakanadaka_font;
      font-size: 20px;
      filter: blur(1.2px);
      color: $whitesmoke;
      transition: 1s;
      &:hover {
        filter: blur(0px);
        color: rgba(180,180,180, 1);
      }
    }
  }
  .parentverticaltext {
    position: absolute;
    right: 0px;
    bottom: 0px;
    height: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
    .verticaltext {
      padding: 10px 0px;
      height: 130px;
      writing-mode: vertical-rl;
      text-orientation: mixed;
      font-family: $acme_font;
      font-size: 18px;
      color: rgba(255,255,255,0.35);
    }
    .verticallongline {
      position: relative;
      bottom: 0px;
      left: 30px;
      width: 10px;
      height: calc(100% - 130px);
      border-left: 1px solid rgba(255,255,255,0.35); 
    }
  }
}