@import 'fonts.scss';
@import 'colors.scss';

@keyframes filter-shadow {
  0% {
    filter: drop-shadow(0px 0px rgba(24, 24, 24, 0));
  }
  100% {
    filter: drop-shadow(10px 12px rgba(24, 24, 24, 0.5));
  }
}

@mixin toprightleft(){
  top: 0px;
  right: 0px;
  left: 0px;
}

@mixin margintop($marginvalue){
  margin-top: $marginvalue;
}

@mixin font-styles($font, $color){
  font-family: $abhaya_font;
  font-size: $font;
  color: $color;
}

@mixin borders(){
  width: 800px;
  border-top: 1px solid rgba(0,255,255,0.6);
  border-bottom: 1px solid rgba(0,255,255,0.6);
  border-radius: 100%;
}

.bgcolorproject {
  .maindivvideoprojects {
    position: fixed;
    @include toprightleft();
    bottom: 0px;
    background: $custom_purple;
    z-index: -1;
    .divvideoproject {
      width: 100vw;
      height: 100vh;
      filter: opacity(30%);
      opacity: 0.8;
      object-fit: cover;
    }
  }
  .mainheaderprojetcs {
    @include margintop(20px);
    margin-bottom: 10px;
    padding-left: 20px;
    @include font-styles(3.2rem, $whitesmoke);
    text-shadow:
      0px 0px 1px $lightgrey_24,
      0px 0px 2px rgba(180,180,180, 1);
  }
  .maindivofprojects {
    position: absolute;
    top: 20%;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    z-index: 3;
    .h2 {
      width: 800px;
      text-align: left;
      margin: auto;
      margin-bottom: 10px;
      @include font-styles(2.4rem, rgba(0,50,200, 0.6));
      text-shadow: 2px 0px 2px $cyan;
    }
    .hr {
      @include margintop(0px);
      margin-bottom: 10px;
      @include borders();
    }
    .subdivofprojects {
      padding: 20px;
      width: 780px;
      margin: auto;
      font-family: $abhaya_font;
      font-size: 1.6rem;
      font-weight: bold;
      .hollyitemslink {
        width: 100%;
        margin: 5px 0px;
        padding: 0px 10px;
        padding-top: 7px;
        background: rgba(255,255,255, 0.1);
        border-radius: 5px;
        box-shadow: 0px 0px 3px rgba(0,40,40,0.1);
        &:hover {
          background: rgba(255,255,255, 0.2);
        }
        .liprojects {
          margin: auto;
          display: flex;
          color: rgba(0,255,255, 0.5);
          &:before {
            content: "*";
            margin-top: 12px;
            margin-right: 20px;
            font-size: 32px;
          }
          .linkprojects {
            width: 100%;
            margin-left: -7px;
            padding: 10px 0px;
            display: flex;
            text-decoration: none;
            font-size: 1.4rem;
            color: rgba(255,255,255,0.6);
            opacity: 1;
            filter: drop-shadow(10px 12px rgba(24, 24, 24, 0.5));

            animation-name: filter-shadow;
            animation-delay: 0s;
            animation-duration: 2s;
            animation-iteration-count: 1;
            animation-timing-function: ease;
            transition: ease 0.3s;
            &:hover {
              color: rgba(0,255,255, 0.7);
              filter: drop-shadow(0px 0px rgba(24, 24, 24, 1));
            }
            &:active {
              color: rgba(0,255,255, 1);
            }
            .realignlogos {
              display: flex;
            }
          }
        }
      }
    }
    .hr2 {
      @include margintop(10px);
      @include borders();
    }
  }
}

@media only screen and (max-width: 1600px) {
  .bgcolorproject {
    .maindivvideoprojects {
    }
    .divbtn {
      .btntopright {
      }
    }
    .mainheaderprojetcs {
    }
    .hr {
    }
    .h2 {
    }
    .maindivofprojects {
      margin-top: 1%;
      .subdivofprojects {
        .liprojects {
          .linkprojects {
          }
        }
      }
    }
  }
}